# Data files - use DVC to track large files
data/**/*.csv
data/**/*.parquet
data/**/*.json

# Python
.venv/
__pycache__/
*.pyc

# MLflow local tracking data
mlruns/

# CatBoost local logs
catboost_info/
